@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/fonts/fonts.scss";

.recommendation {
  @include display-space-between;
  background: 
  linear-gradient(
    rgba(255, 255, 255, 0.75), 
    rgba(255, 255, 255, 0.75)
  ),
  /* bottom, image */
  url("src/styles/images/bg-01.jpg");
  // background: url("src/styles/images/bg-01.jpg"), rgba(255, 255, 255, 0.575);
  padding: 30px 15px;
  margin: 25px 0;
  div {
    @include display-vertical-center;
    font-size: 25pt;
    font-weight: 200;
    @include font-lato-light;
  }
  button {
    @include button-transparent;
    padding: 20px 25px;
    border: 3px solid $black;
    color: $black;
  }
}
