@import "./fonts/fonts.scss";
@import "./icons/icons.css";
@import "./variables.scss";

body{
  margin: 0;
  @include font-lato-regular ;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: $break-point-sm) {
  .container {
    width: 850px;
  }
}
@media (min-width: $break-point-md) {
  .container {
    width: 1070px;
  }
}
@media (min-width: $break-point-lg) {
  .container {
    width: 1270px;
  }
}

.hide{
  display: none !important;
}
