

$like-opacity : rgba(28, 187, 180, 0.5);
$dislike-opacity : rgba(255, 173, 38, 0.5);
$like: #1cbbb4;
$dislike: #ffad26; 
$black: #000;
$white: #ffffff;
$black-opacity: rgba(0, 0, 0, 0.4);
$white-opacity: rgba(255, 255, 255, 0.4);
$gray-light: #ebebeb;
$gray-dark:  #3e3e3e;
$gray-footer: #949494;



$break-point-lg : 1300px;
$break-point-md : 1150px;
$break-point-sm : 868px;
