<div class="card">
  <i ></i>
  <div class="content">
    <div></div>
    <div class="time">  </div>
    <div class="description"></div>
    <div class="voting">
      <i class="icon icon-thumbs-up"></i>
      <i class="icon icon-thumbs-down"></i>
      <button>Vote now</button>
    </div>
  </div>
  <div class="results">
    <div class="likes">
      <i class="icon icon-thumbs-up"></i><span> </span>
    </div>
    <div class="dislikes">
        <span > </span> <i class="icon icon-thumbs-down"></i>
    </div>
  </div>
</div>
