@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card {
  width: 100%;
  height: 680px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0;
  position: relative;
  color: $white;
  > .icon-thumbs-up,
  > .icon-thumbs-down {
    position: absolute;
    top: 46%;
    z-index: 1;
  }
  > .icon-thumbs-up {
    @include thumbs-up;
  }
  > .icon-thumbs-down {
    @include thumbs-down;
  }
  .content {
    position: absolute;
    padding: 4% 10%;
    bottom: 10%;
    width: 80%;
    overflow: hidden;
    @include linear-gradient(0);
    > :first-child {
      font-size: 45pt;
    }
    .description {
      font-size: 16pt;
      margin: 10px 0;
      height: 62px;
    }
    .time {
      font-size: 12pt;
      margin-bottom: 10px;
      span {
        font-weight: bold;
      }
    }

    .voting {
      display: flex;
      padding: 15px 0;
      
      .icon,
      > button {
        margin-right: 15px;
      }
      .icon {
        &.selected {
          border: 2px solid $white;
        }
      }
      .icon-thumbs-up {
        @include thumbs-up;
        cursor: pointer;
      }

      .icon-thumbs-down {
        @include thumbs-down;
        cursor: pointer;
      }

      button {
        @include button-transparent;
      }

      .hide {
        display: none;
      }
    }
  }

  .results {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    height: 10%;
    font-size: 20pt;

    .likes {
      background: $like-opacity;
      width: 40%;
      @include display-vertical-center;
      padding-left: 20px;

      i {
        margin-right: 10px;
      }
    }
    .dislikes {
      width: 60%;
      background: $dislike-opacity;
      @include display-left;
      padding-right: 20px;
      i {
        padding-top: 9px;
        margin-left: 10px;
      }
    }
  }
}
