@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

article {
  margin-bottom: 50px;
}
h1 {
  font-size: 3.5em;
  font-weight: 100;
  margin: 40px 0;
}

.votes {
  @include display-space-between;
  flex-wrap: wrap;
  ze-card {
    width: 98%;
    @media (min-width: $break-point-md) {
      width: 48%;
    }
  }
}
