<div class="main-header">

  <header>
    <nav class="container">
      <a href="#" data-route="/" class="title-nav">
        Rule of Thumb
      </a>
      <div class="main-nav">
        <a  href="#" data-route="/past-trials">
          Past Trials
        </a>
        <a href="#" data-route="/how-it-wotks">
          How it Works
        </a>
        <a href="#" data-route="/login">
          Login / Sing up
        </a>
        <a class="icon-search">

        </a>
      </div>

    </nav>
  </header>
  <div class="content">
    <div class="text">
      <div>
        What's your opinion on
        <div>
          Pope Francis?
        </div>
      </div>

      <div class="description">
        He's talkink tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a
        true pedophile punishing pontiff? (thumbs up)
      </div>
      <div class="info">
        <i class="icon-wikipedia"></i>
        <a href="#"> More information</a href="#">
      </div>
      <div>
        What's your veredict?
      </div>
    </div>

    <div class="blur"></div>
  </div>
  <div class="voting">
    <div>
      <i class="icon-thumbs-up"></i>
    </div>
    <div>
      <i class="icon-thumbs-down"></i>
    </div>
  </div>

  <div class="closing">
    <div>
      <span>
        Closing
      </span>
    </div>
    <div>
      <span> 21 </span>
      <span> days</span>
    </div>
  </div>
</div>
