@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.message {
  background: $gray-light;
  padding: 25px 40px;
  margin: 40px 0;
  color: $gray-dark;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    @media (min-width: $break-point-md) {
      flex-direction: row;
    }
    > :first-child {
      width: 100%;
      font-size: 21pt;
      text-align: center;
      @media (min-width: $break-point-md) {
        width: 30%;
      }
      h2 {
        margin: 2px;
        font-size: 37pt;
        color: $black;
      }
    }
    > :last-child {
      text-align: justify;
      width: 100%;
      font-size: 15pt;
      @media (min-width: $break-point-md) {
        width: 65%;
      }
    }
  }

  i {
    right: 18pt;
    top: 5px;
    position: absolute;
    font-size: 32pt;
    margin-top: 18px;
  }
}
